//base
@import 'base/reset';
@import 'base/variables';

//components

@import 'components/navbar';
@import 'components/footer';

//layouts

@import 'layout/index';
@import 'layout/quiensoy';
@import 'layout/quince';
@import 'layout/musica';
@import 'layout/contacto';
@import 'layout/mediaqueries';
































