
.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 (9 dividido por 16) */
    overflow: hidden;
}
// Mixin incluido //

.videointro {
    @include video;
}

.index-text{
    display: flex;
    justify-content: center;
}

//   hover  //
.index-texto{
    text-align: center;
    margin: 150px 200px ;
    font-size: xx-large;
    color: $clarito-beige;
    transition: 1s;
    &:hover{
        color: rgb(215, 231, 152);
        opacity: 100%;
        }
}

