.spotify-iframes{
    border-radius: 12px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin-bottom: 20px;  
    }

    .spotify-iframes{
        display: flex;
        justify-content: space-around;
        gap: 40px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
<<<<<<< HEAD
=======
    @media (max-width: 767px){
        .spotify-iframes{
        flex-direction: column;
        text-align: justify;
        justify-content: left;
        }
    }
>>>>>>> 83462969abdecf9d9743d3848bbf33d2a9001a0b
