
//  quince //


.quince-p{
    text-align: center;
    color: $clarito-beige;
    padding: 30px;
    font-size: x-large;
    padding:2% 7%; 
    text-align: center;
}

// un poco mas de nesting //


.quince-videos {
    display: flex;
    text-align: center; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10%;

    .video-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -10px; 
    }
    iframe {
    margin: 10px; 
    }
}