.seguirviaje {
    text-align: center;
    font-size: 20px;
    color: #d7d7d7cc;
    justify-content: flex-end;
    padding: 10px 5px;
    margin-bottom: 0;
}
<<<<<<< HEAD
=======
@media screen and (max-width: 747px) {
    .seguirviaje {
    font-size: medium;
    }
}
>>>>>>> 83462969abdecf9d9743d3848bbf33d2a9001a0b

.button-container {
    display: flex;
    justify-content: center;
}

.btn {
    border: none;
    border-radius: 50px; 
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    color: $color-primary;
    font-size: 16px;
    cursor: pointer;
}

.btn-success {
    background-color: rgba(69, 81, 34, 0.514);
    
    &:hover {
    opacity: 0.8;
    background-color: rgb(215, 231, 152);
    color: #043911;
    }
}

@media (max-width: 420px){
    .button-container{ 
    display: grid;
    position: relative;
    align-items: center;
    justify-content: center;
    }
}